body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFEDE6;
}

header {
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-text {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text h2 {
    color: #2c3e50;
}

.about-text p {
    color: #34495e;
    font-size: 1.1rem;
}

.about-image {
    flex: 1;
    padding: 20px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


footer {
    position: relative;
    margin-top: 40px;
}


@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        align-items: center;
    }
    .about-text, .about-image {
        flex: unset;
        width: 100%;
        padding: 10px;
    }
    .about-image img {
        width: 80%;
    }
}

