body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 30%;
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

input[type=text],
input[type=number],
input[type=date] {
    width: 40%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.add-coupon {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-coupon:hover {
    background-color: #45a049;
}

