.container {
    width: 500px;
    margin: 100px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
table {
    width: 100%;
}
tr {
    border-bottom: 1px solid #ccc;
}
tr:last-child {
    border-bottom: none;
}
td:first-child {
    width: 150px;
    text-align: right;
    padding-right: 10px;
}
td {
    padding: 10px;
}
.btn-update {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-delete {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.btn-update,
.btn-delete {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
}
.btn-delete {
    background-color: #f44336;
}
